@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Mult tags */
.center{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 0 2%;
}
.w50{
    width: 50%;
}
ul{
    list-style: none;
}




/* Nav bar */
header{
    width: 100%;
    position: relative;
}
.nav-desktop{
    padding: 30px 0;
    background-color: white;
}
.nav-desktop ul{
    text-align: end;
}
.nav-desktop ul li{
    display: inline;
    padding: 0 2%;
    max-width: max-content;
}
.nav-desktop ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
}
.nav-desktop ul li:first-child a,
.nav-mobile ul li:first-child a{
    color: #ee4444;
}
/* fim nav-desktop */
/* nav mobile */
.menu-mobile{
    display: none;
    
}
.GiHamburgerMenu{
    cursor: pointer;
    margin: 30px 0;
    font-size: 30px;
    margin-left: auto;
}
.nav-mobile{
    text-align: center;
    position: fixed;
    top: 80px;
    opacity: 0;
    right: -110px;
    z-index: 2;
    background-color: white;
    padding: 10px 20px;
    transition: 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.515);
}
.nav-mobile ul li{
    padding: 10px 0;
}
.nav-mobile ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    .nav-desktop{
        display: none;
    }
    .menu-mobile{
        display: flex;
    }
    .active-nav{
        right: 0;
        opacity: 1;
        transition: 0.5 ease;
    }
}
/* logo navbar */
.box_image{
    height: 100%;
}
.box_image img {
    position: relative;
    height: 50px;
    top: 20px;
}

/* fim logo e nav bar */
/* inicio do Home */
.banner_main{
    color: white;
    background-image: url(./images/bg.jpg);
    background-position-x: right;
    background-size: 54vw;
    background-repeat: no-repeat;
    background-color: black;
    height: 31.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.banner_main h2{
    margin: 10px 0;
    font-size: 1.9vw;
    padding: 0 1.9vw;
    width: max-content;
    background-image: url('./images/box-text.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

}
.banner_main h3{
    font-size: 1.9vw;
    padding: 0 1.9vw;
    width: max-content;
    color: black;
    background-image: url('./images/box-white-text.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    margin-bottom: 5px;
    margin-left: -0.4vw;
}
.banner_main h2:nth-child(1){
    margin-left: 1.4vw;
}
.banner_main h2:nth-child(2){
    margin-left: 1vw;
}
.banner_main h2:nth-child(3){
    margin-left: 0.5vw;
}
/* Destaques */
.destaques_main{
    margin: 0 auto;
    width: 100%;
    padding: 0 2%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
    background-color: white;
}
.destaques_title{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.destaques_title h2{
    padding: 20px 20px;
    text-align: center;
    font-size: 13px;
    width: 30%;
    min-width: max-content;
}
.destaques_title div{
    border-radius: 100px;
    background-color: black;
    height: 1px;
    width: 35%;
}
.destaques_boxes{
    display: flex;
    width: 100%;
}
.singlecar{
    width: 33%;
    margin: 0 2%;
}
.singlecar:first-of-type{
    margin-left: 0;
}
.singlecar:last-of-type{
    margin-right: 0;
}
.singlecar img{
    width: 100%;
}
.singlecar h4{
    font-style: italic;
}
.singlecar p{
    color: rgb(77, 77, 77);
    font-weight: 600;
    margin: 10px 0;
    margin-bottom: 30px;
}
.singlecar a{
    text-decoration: none;
    background-color: #ee4444;
    color: white;
    padding: 3px 8px;
    font-style: italic;
    font-weight: 600;
}
/* fim Destaques */
/* depoimentos */
.depoimentos_main{
    display: flex;
}
.depoimentos_main .w50:first-of-type{
    background-color: rgb(48, 48, 48);
}
.depoimentos_main .w50:last-of-type{
    background-color: #ee4444;
}




/* Footer */
footer{
    color: white;
    background-color: rgb(48, 48, 48);
}
footer h1{
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
}